@import "tailwindcss";

@font-face {
  font-family: 'Cp-Ufo';
  src: url(/CP_and_U-Fo.ttf) format('truetype');
}

*{
  box-sizing: border-box;
}

@theme{
  --font-ufo: "Cp-Ufo", sans-serif;
  --font-alpha: "Alfa Slab One", serif;
  --font-yusei: "Noto Sans JP", sans-serif;
}

